/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/* POPPINS MEDIUM */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@500&display=swap');
/* INTER REGULAR 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* INTER MEDIUM */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --background: #E8E8E8;
    --btn-primario: #0C4235;
    --txt: #161616;
    --accent: #188169;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background: #e8e8e8;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin: 30px;
}

/***************************************************NAVEGAÇÃO (GRID)***********************************************************************/
.grid {
    display: grid;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    margin-bottom: 50px;
}

.grid-item {
    width: 200px;
    height: 120px;
    border: none;
    background-color: var(--btn-primario);
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.37);
}

button:hover {
    background-color: var(--accent);
    transition: 0.25s;
    transform: translateY(-8px);
}

.grid-item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: var(--background);
    font-family: 'Poppins', sans-serif;
}

/***************************************************CONTEÚDO***********************************************************************/
.info {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
}

.info p {
    text-align: center;
}

.section {
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.section img {
    margin-left: 5px;
}

hr {
    width: 500px;
    height: 1px;
    background-color: var(--txt);
}

.doc-1,
.doc-2 {
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.doc-1 a,
.doc-2 a {
    text-decoration: none;
}

.doc-1 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.doc-2 {
    margin-top: 10px;
}

.hr-escuro {
    width: 88%;
    height: 2px;
    background-color: var(--txt);
    margin: auto;
}

.hr-claro {
    width: 88%;
    height: 1px;
    background-color: var(--txt);
    margin: auto;
}

.doc-1 p,
.doc-2 p {
    color: var(--txt, #161616);
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    margin-left: 10px;
    letter-spacing: 1px;
}

.estagio-1 {
    width: 88%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 45px;
}

.estagio {
    width: 88%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.justify {
    width: 85%;
    text-align: justify;
}

/***************************************************FOOTER***********************************************************************/
.rodape {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 40px 70px 30px 70px;
    align-items: center;
    background: #D9D9D9;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
}

footer p {
    font-weight: 500;
}

.devs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px 0;
}

.social {
    margin: 0 10px;
}

.social img {
    margin: 0 5px;
}

.copyright,
.devs {
    color: #161616;
}

/************************************************Botão back to top***********************************************************/
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    border-radius: 50px;
    right: 15px;
    width: 38px;
    height: 38px;
    background-color: var(--btn-primario);
    text-decoration: none;
}

.back:hover {
    background-color: var(--accent);
    transition: 0.3s;
}

.back::after {
    content: "^";
    font-size: 20px;
    color: #E8E8E8;
    transition: 250ms;
}

/* ********************************RESPONSIVO ******************************** */

@media  screen and (max-width: 900px) {
    .grid {
        display: grid;
        width: 75%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media  screen and (max-width: 725px) {
    .rodape{
        justify-content: center;
        flex-direction: column;
    }
    .logo{
        margin-bottom: 30px;
    }
    .dev{
        margin-top: 30px;
        display: flex;
    }
    .devs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .devs .social {
        margin-top: 5px;
    }
}
@media  screen and (max-width: 585px) {
    .grid {
        display: grid;
        width: 75%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .rodape {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 25px 50px;
        align-items: center;
        background: #D9D9D9;
        font-family: 'Inter', sans-serif;
        margin-top: 100px;
    }
    .dev {
        display: flex;
        margin-bottom: 30px;
    }
    .devs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .devs .social {
        margin-top: 5px;
    }
    .copyright{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        margin-top: 30px;
    }
}